* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poopins' sans-serif;
  cursor: url(https://cdn-icons-png.flaticon.com/512/5993/5993123.png);
}

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.maincontainer {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 99;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Initial opacity (fully visible) */
  transition: opacity 1s ease-in-out; /* Smooth fade duration (1 second) */
}

.maincontainer.hidden { /* Optional class for additional control */
  opacity: 0; /* Hidden state (transparent) */
  transition: opacity 0.5s ease-in-out; /* Smoother fade-out on hiding */
}


img {
  cursor: url(/Untitled_design-removebg.png), auto;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url()
}

body {
  background-color: white;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  justify-content: space-between;
}

nav ul li {
  text-decoration: none;
  color: black;
  display: inline-block;
  list-style: none;
  position: relative;
  left: 10vh;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

#blursvg {
  display: inline-block;
  position: absolute;
  top: -30vh;
  left: -20vh;
  padding: 0;
  z-index: 0;
  filter: blur(60px);
  rotate: 30deg;
  opacity: 0;
}

#svg {
  display: inline-block;
  position: absolute;
  top: -30vh;
  left: -20vh;
  padding: 0;
  z-index: 1;
  rotate: 30deg;
  animation: wave 10s ease;
}

#svg {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#svg:nth-of-type(2) {
  bottom: 0;
  animation: wave 10s linear alternate-reverse infinite;
  opacity: 0.7;
}

#svg:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear;
  opacity: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
    opacity: 100%;

  }
}

#logo {
  width: 140px;
  margin: 2px;
  right: 14vh;
  z-index: 5;
  position: relative;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  background:
    linear-gradient(to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)),
    linear-gradient(to right,
      rgba(255, 0, 0, 1),
      #ff00b4,
      #0063c7);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

body {
  display: grid;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 100vh;
  place-items: center;
}


.center-loading-box {
  width: 500px;
  position: absolute;
  left: 25%;
  display: inline;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000000
}

.inner-box {
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  transition: all 1s ease-in-out
}



.col-item {
  z-index: -3;
  float: left;
  position: relative;
  bottom: 10px;
  left: 2px;
  height: 70px;
  color: rgb(255, 111, 1);
  overflow: hidden;
  margin-top: 1px;
}


.item {
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
}

@-webkit-keyframes change {

  16.66%,
  29.32% {
    transform: translate3d(0, -100%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -200%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -100%, 0);
  }
}

@-o-keyframes change {

  16.66%,
  29.32% {
    transform: translate3d(0, -100%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -200%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -100%, 0);
  }
}

@-moz-keyframes change {

  16.66%,
  29.32% {
    transform: translate3d(0, -100%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -200%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes change {

  16.66%,
  29.32% {
    color: rgb(245, 86, 88, 255);
    transform: translate3d(0, -100%, 0);
  }

  33.32%,
  45.98% {
    color: #f75a4e;
    transform: translate3d(0, -200%, 0);
  }

  49.98%,
  62.64% {
    color: #60d2eb;
    transform: translate3d(0, -100%, 0);
  }
}

#profile {
  display: inline-block;
  position: relative;
  height: 580px;
  bottom: 87vh;
  left: 55vh;
}

.log::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.log:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.log:hover {
  color: white;
}

.log::before {
  content: "";
  display: block;
  width: 200%;
  height: 100px;

  position: absolute;
  inset: 0 0 0 0;
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  z-index: -1;
  transition: transform .5s ease;
}



.log {
  font-size: 70px;
  color: rgb(0, 0, 0);
  block-size: 100%;
  inline-size: 100%;
}

.log::after {
  color: aliceblue;
}


.log {
  font-family: 'Oswald', sans-serif;
  z-index: 99;
  box-sizing: border-box;
  display: grid;
}

#div2back {
  width: 100%;
  height: 80%;
  display: inline-block;
  position: relative;
  bottom: 70vh;

}

#aboutme {
  display: inline-block;
  height: auto;
  width: 20%;
  bottom: -45vh;
  left: 120vh;
  color: azure;

  z-index: 10;
  opacity: 30%;
  rotate: -1deg;
  position: absolute;
}
#aboutme:hover{
  opacity:70%;

}

.textabt {
  margin: 0;
  padding: 0;
  width: 100cm;
  height: auto;
  position: absolute;


}

#college {
  height: 100px;
  width: 100%;
  text-transform: capitalize;
  position: absolute;
  top: 117vh;
  left: 4vh;
  color: azure;

  line-height: .8cm;
  text-decoration: none;
  text-size-adjust: 10px;

}

#grad {
  height: 100px;
  width: 100%;
  text-transform: capitalize;
  position: absolute;
  top: 135vh;
  color: azure;
  left: 4vh;
  text-size-adjust: 10px;
  line-height: .8cm;
}

#grad2 {
  height: 100px;
  width: 100%;
  text-transform: capitalize;
  position: absolute;
  top: 144vh;
  left: 5vh;

  line-height: .8cm;
}

#grad3 {
  height: 100px;
  width: 100%;
  text-transform: capitalize;
  position: absolute;
  top: 149vh;
  left: 5vh;
  line-height: .8cm;
}

#course {
  height: 100px;
  width: 100%;
  text-transform: capitalize;
  position: absolute;
  top: 163vh;
  color: azure;
  left: 4vh;
  text-size-adjust: 10px;
  line-height: .8cm;
}

#courselist {
  height: 100px;
  width: 100%;
  color: azure;

  text-transform: capitalize;
  position: absolute;
  top: 170vh;
  left: 6vh;
  line-height: 1cm;
}


#skill {
  width: 10vh;
  height: 20vh;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  font-size: 50px;
  line-height: .8cm;
  top: 142vh;
  left: 185vh;
}

#front {
  width: 10vh;
  font-size: 30px;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 160vh;
  left: 160vh;
}

#editing {
  width: 10vh;
  font-size: 30px;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 170vh;
  align-items: center;
  left: 180vh;
}

#Ui {
  width: 20vh;
  font-size: 35px;

  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 190vh;
  align-items: center;
  left: 179vh;
}

#data {
  width: 10vh;

  font-size: 35px;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 179vh;
  align-items: center;
  left: 139vh;
}

#backend {
  width: 10vh;

  font-size: 40px;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 215vh;
  align-items: center;
  left: 160vh;
}

#hosting {
  width: 10vh;

  font-size: 40px;
  text-transform: capitalize;
  position: absolute;
  color: azure;
  top: 205vh;
  align-items: center;
  left: 125vh;
}



#project {
  font-family: 'Oswald', sans-serif;
  position: absolute;
}

#project h2 {
  color: #fff;
  font-size: 7em;
  position: absolute;
  bottom: 20vh;
  left: 5vh;
  transform: translate(-50%, -50%);
}

#project h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.1px #f67bb4;
}

#project h2:nth-child(2) {
  color: #f3667e;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        53% 50%,
        84% 60%,
        70% 81%,
        84% 59%,
        100% 90%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

#svgpr {
  position: absolute;
  top:290vh;
  left:180vh;
  rotate:150deg;

}

#svgpr1{
  position: absolute;
  top:240vh;
  left:-45vh;
  rotate:150deg;
}